{% ckan_extends %}
{% block resource_content %}
{{super()}}
{#% resource 'cfpb_extrafields/ghapi.css' %#}
{% endblock %}

{% block resource_additional_information %}
{% if res %}
{#{ res }#}
          
<section class="module">
  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Metadata Resource ID') }}</th>
                <td>{{ res.id or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Metadata Resource Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Metadata Last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
              </tr>
              <!-- new core fields -->
              {% if res.content_temporal_range_end %}
              <tr>
	            <th scope="row" class="dataset-label">{{ _("Content: Temporal Range End") }} </th>
	            <td class="dataset-details">{{ res.content_temporal_range_end }} </td>
              </tr>
              {% endif %}
              {% if res.content_temporal_range_start %}
              <tr>
	            <th scope="row" class="dataset-label">{{ _("Content: Temporal Range Start") }} </th>
	            <td class="dataset-details">{{ res.content_temporal_range_start }} </td>
              </tr>
              {% endif %}
              {% if res.storage_location or res.storage_location_path %}
              <tr>
	            <th scope="row" class="dataset-label">{{ _("Storage Location") }} </th>
	            <td class="dataset-details">
                  <table style="width:100%"><tr><td>{{ res.storage_location }}</td>
                             <td>{{ res.storage_location_path }}</td>
                         </tr></table> </td>
              {% endif %}
              </tr>
              {% if res.sensitivity_level %}
              <tr>
	            <th scope="row" class="dataset-label">{{ _("Sensitivity Level") }} </th>
	            <td class="dataset-details">{{ res.sensitivity_level }} </td>
              </tr>
              {% endif %}
              {% if res.privacy_contains_pii %}
              <tr>
	            <th scope="row" class="dataset-label">{{ _("Privacy: Contains PII") }} </th>
	            <td class="dataset-details">{{ res.privacy_contains_pii}} </td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row" class="dataset-label"><br> </th>
                <td class="dataset-details"><br> </td>
              </tr>
              {% if res.intake_date %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Intake Date") }}</th>
                <td class="dataset-details">{{ res.intake_date }}</td>
              </tr>
              {% endif %}
              {% if res.update_size %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Update: Size") }}</th>
                <td class="dataset-details">{{ res.update_size }}</td>
              </tr>
              {% endif %}
              {% if res.approximate_total_size %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Approximate Total Size") }}</th>
                <td class="dataset-details">{{ res.approximate_total_size }}</td>
              </tr>
              {% endif %}
              {% if res.resource_type %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Resource Type") }}</th>
                <td class="dataset-details">{{ res.resource_type }}</td>
              </tr>
              {% endif %}
              {% if res.privacy_has_direct_identifiers %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Privacy: Has Direct Identifiers") }}</th>
                <td class="dataset-details">{{ res.privacy_has_direct_identifiers }}</td>
              </tr>
              {% endif %}
              {% if res.cleansing_rules_used %} 
              <tr>
                <th scope="row" class="dataset-label">{{ _("Cleansing Rules Used") }}</th>
                <td class="dataset-details">{{ res.cleansing_rules_used }}</td>
              </tr>
              {% endif %}
              
            </tbody>
    </table>
  </div>
<!-- ============ SHARE ============= -->
<!-- CODE REVIEW: This must come before the VIEW section below for some reason?! -->
          <div class="module-content">
          <h2>{{ _('Contribute Related Code') }}</h2>
          {% resource 'cfpb_extrafields/resrelated.js' %}
          {% resource 'cfpb_extrafields/root_ace.css' %}
          {% resource 'cfpb_extrafields/root_ace.js' %}
<script src='/ace-builds/src/ace.js'  type="text/javascript" charset="utf-8"></script>
          
          <div id="ace_editor">
            <input type="text" name="gist-description" id="gist-description" placeholder="required short description" class="longfield">
            
            <select id="gistType">
                <option value='{"name":"javascript", "ext":"js"}'>Select a file-type (javascript)</option>
                <option value='{"name":"plain_text", "ext":"txt"}'>text</option>
                <option value='{"name":"markdown", "ext":"md"}'>markdown</option>
                <option value='{"name":"css", "ext":"css"}'>css</option>
                <option value='{"name":"html", "ext":"html"}'>html</option>
                <option value='{"name":"java", "ext":"java"}'>java</option>
                <option value='{"name":"javascript", "ext":"js"}'>javascript</option>
                <option value='{"name":"matlab", "ext":"ml"}'>matlab</option>
                <option value='{"name":"perl", "ext":"perl"}'>perl</option>
                <option value='{"name":"php", "ext":"php"}'>php</option>
                <option value='{"name":"python", "ext":"py"}'>python</option>
                <option value='{"name":"r", "ext":"r"}'>r</option>
                <option value='{"name":"ruby", "ext":"rb"}'>ruby</option>
                <option value='{"name":"sh", "ext":"sh"}'>sh</option>
                <option value='{"name":"sql", "ext":"sql"}'>sql</option>
            </select>
            
            <div id="editor_div"></div>
            <textarea name='code'>
function example_code_snippet(items) {
    var x = "This is javascript, but select language for different syntax highlighting";
    return x;
}</textarea>
            
          </div>
          <br>
          <button type="button" data-module="resrelated"
                  data-module-dataset_id="{{ res.package_id }}"
                  data-module-resource_id="{{ res.id }}"
                  data-module-resource_name="{{ res.name }}"
                  data-module-html="resrelated.html"
                  data-module-title="{{ _('posting code') }}">
            Post code to GitHub
          </button>
          <div id="ace_output"></div>
<!-- ============ SHARE ============= -->
<!-- ============ VIEW ============= -->
            <h2>{{ _('View Related Code') }}</h2>
{% resource 'cfpb_extrafields/select_gist.js' %}
{% resource 'cfpb_extrafields/listrelated.js' %}
            <div data-module="listrelated"
                 data-module-dataset_id="{{ res.package_id }}"
                 data-module-resource_id="{{ res.id }}"
                 data-module-resource_name="{{ res.name }}"
                 data-module-html="listrelated.html">
            </div>
            <div id="gistList"><!-- for js listening -->
              <div id="listrelated_output"></div> <!-- for select dropdown -->
            </div>
            <div id="gistZone"></div>
          </div>
<!-- ============ VIEW ============= -->
</section>
      
  {% endif %}
{% endblock %}
