{% ckan_extends %}

http://127.0.0.1:8080/dataset/census-data2/resource_edit/f31d5f01-3337-4b6a-a7a1-6baf50949710
http://127.0.0.1:8080/dataset/feeab25d-1cfd-48b3-b587-a300fbbc384d/resource_edit/f31d5f01-3337-4b6a-a7a1-6baf50949710

{% block page_primary_action %}
{#{super()}#}
{% resource 'cfpb_extrafields/create_edit_resource.js' %}
<span id='create_edit_resource'>
<a href="javascript:;" class="btn" type="button"
   data-module="create_edit_resource"
   data-module-html="create_edit_resource.html"
   data-module-pkgid="{{c.pkg_dict.id}}"
   >
  <i class="icon-plus"></i> {{ _('Add new resource') }}
</a></span>
{% endblock %}


