{% ckan_extends %}

{% block extras %}

{{pkg_dict}}

  {% if pkg_dict.id %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Dataset ID") }} </th>
	<td class="dataset-details">{{ pkg_dict.id }} </td>
  </tr>
  {% endif %}
  <!-- Core -->
  {% if pkg_dict.source_names %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Source Names") }} </th>
	<td class="dataset-details">{{ pkg_dict.source_names }} </td>
  </tr>
  {% if pkg_dict.access_restrictions %}
  {% endif %}
  <tr>
	<th scope="row" class="dataset-label">{{ _("Access: Restrictions") }} </th>
	<td class="dataset-details">{{ pkg_dict.access_restrictions }} </td>
  </tr>
  {% if pkg_dict.contact_primary_name %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Contact: Primary") }} </th>
	<td class="dataset-details"><a href="mailto:{{pkg_dict.contact_primary_email}}">{{pkg_dict.contact_primary_name}}</a></td>
  </tr>
  {% endif %}

  {% if pkg_dict.initial_purpose_for_intake %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Initial Purpose for Intake") }} </th>
	<td class="dataset-details">{{ pkg_dict.initial_purpose_for_intake}} </td>
  </tr>
  {% if pkg_dict.legal_authority_for_collection %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Legal Authority for Collection") }} </th>
	<td class="dataset-details">{{ pkg_dict.legal_authority_for_collection}} </td>
  </tr>
  {% if pkg_dict.pra_omb_control_number %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("PRA OMB Control Number") }} </th>
	<td class="dataset-details">{{ pkg_dict.pra_omb_control_number }} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.privacy_pia_title %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Privacy: PIA Title") }} </th>
	<td class="dataset-details">{{ pkg_dict.privacy_pia_title }} </td>
  </tr>
  {% if pkg_dict.privacy_sorn_number %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Privacy: SORN Number") }} </th>
	<td class="dataset-details">{{ pkg_dict.privacy_sorn_number }} </td>
  </tr>
  {% if pkg_dict.relevant_governing_documents %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Relevant Governing Documents") }} </th>
	<td class="dataset-details">{{ pkg_dict.relevant_governing_documents }} </td>
  </tr>
  {% if pkg_dict.dig_id %}
  {% endif %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("DIG ID") }} </th>
	<td class="dataset-details">{{ pkg_dict.dig_id }} </td>
  </tr>
  <tr>
    <th scope="row" class="dataset-label"><hr></th>
    <td class="dataset-details"><hr></td>
  </tr>
  {% if pkg_dict.usage_restrictions %}
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Usage Restrictions") }} </th>
      <td class="dataset-details">{{ pkg_dict.usage_restrictions }} </td>
    </tr>
  <!--not core -->


  {% if pkg_dict.contact_secondary_name %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Contact: Secondary") }} </th>
	<td class="dataset-details"><a href="mailto:{{pkg_dict.contact_secondary_email}}">{{pkg_dict.contact_secondary_name}}</a></td>
  </tr>
  {% endif %}
  {% if pkg_dict.obfuscated_title %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Obfuscated Title") }}</th>
      <td class="dataset-details">{{ pkg_dict.obfuscated_title }}</td>
    </tr>
  {% if pkg_dict.transfer_details %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer details") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_details }}</td>
    </tr>


  {% if pkg_dict.transfer_initial_size %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer: Initial Size") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_initial_size }}</td>
    </tr>
  {% if pkg_dict.transfer_method %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer: Method") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_method }}</td>
    </tr>
  {% if pkg_dict.also_known_as %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Also Known As") }}</th>
      <td class="dataset-details">{{ pkg_dict.also_known_as }}</td>
    </tr>
  {% if pkg_dict.content_periodicity %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Content: Periodicity") }}</th>
      <td class="dataset-details">{{ pkg_dict.content_periodicity }}</td>
    </tr>
  {% if pkg_dict.content_spatial %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Content: Spatial") }}</th>
      <td class="dataset-details">{{ pkg_dict.content_spatial }}</td>
    </tr>
  {% if pkg_dict.update_frequency %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Update Frequency") }}</th>
      <td class="dataset-details">{{ pkg_dict.update_frequency }}</td>
    </tr>
  {% if pkg_dict.website_url %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Website URL") }}</th>
      <td class="dataset-details"><a href="{{ pkg_dict.website_url }}">{{ pkg_dict.website_name}}</a> </td>
    </tr>
  {% if pkg_dict.wiki_link %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Wiki Link") }}</th>
      <td class="dataset-details"><a href="{{ pkg_dict.wiki_link }}">CFPB wiki article</a></td>
    </tr>
  {% endif %}
  {% if pkg_dict.acquisition_methods %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Acquisition Methods") }}</th>
      <td class="dataset-details">{{ pkg_dict.acquisition_methods }}</td>
    </tr>
  {% if pkg_dict.pra_exclusion %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("PRA Exclusion") }}</th>
      <td class="dataset-details">{{ pkg_dict.pra_exclusion }}</td>
    </tr>
  {% if pkg_dict.pra_omb_expiration_date %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("PRA: OMB Expiration Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.pra_omb_expiration_date }}</td>
    </tr>
  {% if pkg_dict.privacy_has_privacy_act_statement %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: Has Privacy Act Statement") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_has_privacy_act_statement }}</td>
    </tr>
  {% if pkg_dict.privacy_pia_notes %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: PIA Notes") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_pia_notes }}</td>
    </tr>
  {% if pkg_dict.records_retention_schedule %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Records Retention Schedule") }}</th>
      <td class="dataset-details">{{ pkg_dict.records_retention_schedule }}</td>
    </tr>
  {% if pkg_dict.procurement_document_id %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Procurement Document ID") }}</th>
      <td class="dataset-details">{{ pkg_dict.procurement_document_id }}</td>
    </tr>



  {% if pkg_dict.privacy_has_privacy_act_statement %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: Has Privacy Act Statement") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_has_privacy_act_statement }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.dataset_last_modified_date %} 
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _(" Dataset Last Modified Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.dataset_last_modified_date }}</td>
    </tr>



{% endblock %}

