{% ckan_extends %}



{% block package_additional_info %}
{% block extras %}
<!--    
http://docs.ckan.org/en/ckan-2.3/api/index.html?highlight=related#ckan.logic.action.get.related_list
    ckan.logic.action.get.related_list(context, data_dict=None)
    id or name of the dataset can be an argument
http://docs.ckan.org/en/ckan-2.3/api/index.html?highlight=related#ckan.logic.action.create.related_create
    ckan.logic.action.create.related_create(context, data_dict)
-->
{% resource 'cfpb_extrafields/listrelated.js' %}
<div class="w" id="listrelated">
  <div id="datasetid" data-id="{{ pkg_dict.id }}"></div>
  <a href="#listrelated" id="listrelated_btn" class="ghsubmitbtn">related</a>
  <div id="listrelated_output"></div>
</div>

{% resource 'cfpb_extrafields/related_create.js' %}
<div class="w" id="createrelated">
  <div id="datasetid" data-id="{{ pkg_dict.id }}"></div>
  <a href="#createrelated" id="createrelated_btn" class="ghsubmitbtn">related</a>
  <div id="createrelated_output"></div>
</div>

<!-- gist dropdown  -->
{% resource 'cfpb_extrafields/select_gist.js' %}
<p>
  <a href="https://github.cfpb.gov/login/oauth/authorize?scope=gist">Click here</a> to talk to GitHub API</a>
</p>
<p>
  <label for="gistList"><h2>Gists</h2></label>
  <select id="gistList">
    <option value="">Select a Gist</option>
    <option value="906758">Get a Twitter user's avatar using PHP</option>
    <option value="785770">How to PHP regex match an HTML document's title</option>
    <option value="785766">How to PHP regex match an HTML document's meta description</option>
  </select>
</p>
<div id="gistZone"></div>
<!-- gist dropdown  -->

{% resource 'cfpb_extrafields/ghapi.css' %}
{% resource 'cfpb_extrafields/ghapiauth.js' %}
    <div>
<!--
      <h1>Github Authentication</h1>
      <p>Enter a Github username and password.</p>
      <input type="text" name="gauthusername" id="gauthusername" placeholder="Github username...">
      <input type="text" name="gauthpassword" id="gauthpassword" placeholder="Github password...">
      <a href="#" id="gauthsubmitbtn" class="ghsubmitbtn">get token</a>
      <div id="gauthapidata" class="clearfix"></div>
      {% resource 'cfpb_extrafields/ghapi.js' %}
      <h1>Simple Github API Webapp</h1>
      <p>Enter a single Github username below and click the button to display profile info via JSON.</p>
      <input type="text" name="ghusername" id="ghusername" class="longfield" placeholder="Github username...">
      <a href="#" id="ghsubmitbtn" class="ghsubmitbtn">Pull User Data</a>
      <div id="ghapidata" class="clearfix"></div>
      {% resource 'cfpb_extrafields/anongist.js' %}
      <h1>Submit anonymous gist</h1>
      <p>Click to post the input text to an anonymous public gist. Returned JSON contains links to the gist that get processed. </p>
      <input type="text" name="anongist" id="anongist" class="longfield" placeholder="Text of anonymous gist...">
      <a href="#" id="anongistsubmitbtn" class="ghsubmitbtn">Post anonymous gist</a>
      <div id="anongistdata" class="clearfix"></div>
      <div id="containeranon"></div>
    </div>
-->


    <div class="w" id="ace_editor">
      <h2>Create anonymous gist with ACE</h2>
      {% resource 'cfpb_extrafields/root_ace.css' %}
      <script src='/ace-builds/src/ace.js'  type="text/javascript" charset="utf-8"></script>
      {% resource 'cfpb_extrafields/root_ace.js' %}
      <input type="text" name="gist-description" id="gist-description" placeholder="short gist description" class="longfield">
      <select id="gisttype">
        <option value="">Select a gist type</option>
        <option value="py">python</option>
        <option value="javascript">javascript</option>
        <option value="C">C</option>
      </select>
      <div id="editor_div">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}
      </div>
      <a href="#ace_editor" id="acesubmitbtn" class="ghsubmitbtn">Post to gist</a>
      <a href="#ace_editor" id="saveposted" class="ghsubmitbtn">Save</a>
      <form action="https://github.cfpb.gov/api/v3/gists" method="post">
        <br>
      <textarea name="editor"></textarea>
        <input type="submit" value="Submit" id='submit'>
</form>

      <div id="ace_output"></div>
      <!--
          <label for="gistpost"><h2>Posted Gist</h2></label>
          <select id="gistpost">
            <option value="">Select a Gist</option>
            <option value="906758">Get a Twitter user's avatar using PHP</option>
            <option value="785770">How to PHP regex match an HTML document's title</option>
            <option value="785766">How to PHP regex match an HTML document's meta description</option>
          </select>
      <div id="postedZone"></div>
          -->
    
    </div>
    <p> </p>

{{pkg_dict}}

  {% if pkg_dict.id %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Dataset ID") }} </th>
	<td class="dataset-details">{{ pkg_dict.id }} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.subject_matter %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Subject Matter") }} </th>
	<td class="dataset-details">{{ pkg_dict.subject_matter }} </td>
  </tr>
  {% endif %}
  <!-- Core -->
  
  {% if pkg_dict.source_names %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Source Names") }} </th>
	<td class="dataset-details">{{ pkg_dict.source_names }} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.acquisition_method %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Acquisition Method") }}</th>
      <td class="dataset-details">{{ pkg_dict.acquisition_method }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.access_restrictions %}
  <tr>
	<th scope="row" class="dataset-label">{{ _("Access: Restrictions") }} </th>
	<td class="dataset-details">{{ pkg_dict.access_restrictions }} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.contact_primary_name %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Contact: Primary") }} </th>
	<td class="dataset-details"><a href="mailto:{{pkg_dict.contact_primary_email}}">{{pkg_dict.contact_primary_name}}</a></td>
  </tr>
  {% endif %}
  {% if pkg_dict.initial_purpose_for_intake %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Initial Purpose for Intake") }} </th>
	<td class="dataset-details">{{ pkg_dict.initial_purpose_for_intake}} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.legal_authority_for_collection %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Legal Authority for Collection") }} </th>
	<td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.legal_authority_for_collection) %} {{i}}; {% endfor %}  </td>
  </tr>
  {% endif %}
  {% if pkg_dict.pra_omb_control_number %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("PRA OMB Control Number") }} </th>
	<td class="dataset-details">{{ pkg_dict.pra_omb_control_number }} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.privacy_pia_title %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Privacy: PIA Title") }} </th>
	<td class="dataset-details"> {% for i in h.clean_select_multi(pkg_dict.privacy_pia_title) %} {{i}}; {% endfor %} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.privacy_sorn_number %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Privacy: SORN Number") }} </th>
	<td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.privacy_sorn_number) %} {{i}}; {% endfor %}</td>
  </tr>
  {% endif %}
  {% if pkg_dict.relevant_governing_documents %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Relevant Governing Documents") }} </th>
	<td class="dataset-details">{% for i in pkg_dict.relevant_governing_documents %} {{i}}; {% endfor %} </td>
  </tr>
  {% endif %}
  {% if pkg_dict.dig_id %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("DIG ID") }} </th>
	<td class="dataset-details">{{ pkg_dict.dig_id }} </td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row" class="dataset-label"><br></th>
    <td class="dataset-details"><br></td>
  </tr>
  {% if pkg_dict.usage_restrictions %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Usage Restrictions") }} </th>
      <td class="dataset-details">{{ pkg_dict.usage_restrictions }} </td>
    </tr>
  {% endif %}
  <!--not core -->

  {% if pkg_dict.contact_secondary_name %}
  <tr> 
	<th scope="row" class="dataset-label">{{ _("Contact: Secondary") }} </th>
	<td class="dataset-details"><a href="mailto:{{pkg_dict.contact_secondary_email}}">{{pkg_dict.contact_secondary_name}}</a></td>
  </tr>
  {% endif %}
  {% if pkg_dict.obfuscated_title %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Obfuscated Title") }}</th>
      <td class="dataset-details">{{ pkg_dict.obfuscated_title }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.transfer_details %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer details") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_details }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.transfer_initial_size %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer: Initial Size") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_initial_size }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.transfer_method %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Transfer: Method") }}</th>
      <td class="dataset-details">{{ pkg_dict.transfer_method }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.also_known_as %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Also Known As") }}</th>
      <td class="dataset-details">{{ pkg_dict.also_known_as }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.update_frequency %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Update Frequency") }}</th>
      <td class="dataset-details">{{ pkg_dict.update_frequency }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.content_periodicity %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Content: Periodicity") }}</th>
      <td class="dataset-details">{{ pkg_dict.content_periodicity }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.content_spatial %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Content: Spatial") }}</th>
      <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.content_spatial) %} {{i}}; {% endfor %}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.website_url %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Website URL") }}</th>
      <td class="dataset-details"><a href="{{ pkg_dict.website_url }}">{{ pkg_dict.website_name}}</a> </td>
    </tr>
  {% endif %}
  {% if pkg_dict.wiki_link %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Wiki Link") }}</th>
      <td class="dataset-details"><a href="{{ pkg_dict.wiki_link }}">CFPB wiki article</a></td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataset_last_modified_date %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Dataset Last Modified Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.dataset_last_modified_date }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.pra_exclusion %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("PRA Exclusion") }}</th>
      <td class="dataset-details">{{ pkg_dict.pra_exclusion }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.pra_omb_expiration_date %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("PRA: OMB Expiration Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.pra_omb_expiration_date }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.privacy_has_privacy_act_statement %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: Has Privacy Act Statement") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_has_privacy_act_statement }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.privacy_pia_notes %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: PIA Notes") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_pia_notes }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.records_retention_schedule %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Records Retention Schedule") }}</th>
      <td class="dataset-details">{{ pkg_dict.records_retention_schedule }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.procurement_document_id %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Procurement Document ID") }}</th>
      <td class="dataset-details">{{ pkg_dict.procurement_document_id }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.privacy_has_privacy_act_statement %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Privacy: Has Privacy Act Statement") }}</th>
      <td class="dataset-details">{{ pkg_dict.privacy_has_privacy_act_statement }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataset_notes %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Dataset Notes") }}</th>
      <td class="dataset-details">{{ pkg_dict.dataset_notes }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.access_notes %} 
    <tr>
      <th scope="row" class="dataset-label">{{ _("Access: Notes") }}</th>
      <td class="dataset-details">{{ pkg_dict.access_notes }}</td>
    </tr>
  {% endif %}

{% endblock %}
{% endblock %}
