{% block package_additional_info %}
{% block extras %}
<hr>
<section class="additional-info">

  <div class="expandable expandable__padded expandable__expanded">
    <button class="expandable_header expandable_target" title="Expand content">
        <span class="expandable_header-left expandable_label">
            I. Content
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
          {% if pkg_dict.also_known_as %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Also Known As") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.also_known_as) }}</td>
          </tr>
          {% endif %}
          {% if pkg_dict.data_source_names %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Data Source(s)") }} </th>
            <td class="dataset-details">{{ pkg_dict.data_source_names }} </td>
          </tr>
          {% endif %}
          {% if pkg_dict.source_categories %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Source Categories") }}</th>
            <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.source_categories) %} {{ i }}{% if not loop.last %},{% endif %} {% endfor %}</td>
          </tr>
          {% endif %}
          {% if pkg_dict.content_temporal_range_start %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Coverage Start Date") }} </th>
            <td class="dataset-details">{{ pkg_dict.content_temporal_range_start }} </td>
          </tr>
          {% endif %}
          {% if pkg_dict.content_temporal_range_end %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Coverage End Date") }} </th>
            <td class="dataset-details">{{ pkg_dict.content_temporal_range_end }} </td>
          </tr>
          {% endif %}
          {% if pkg_dict.content_periodicity %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Periodicity") }}</th>
              <td class="dataset-details">{{ pkg_dict.content_periodicity }}</td>
            </tr>
          {% endif %}
          {% if pkg_dict.content_spatial %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Spatial Coverage") }}</th>
            <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.content_spatial) %} {{i}}; {% endfor %}</td>
          </tr>
          {% endif %}
          {% if pkg_dict.update_frequency %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Update Frequency") }}</th>
            <td class="dataset-details">{{ pkg_dict.update_frequency }}</td>
          </tr>
          {% endif %}
          {% if pkg_dict.wiki_link %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Wiki Link") }}</th>
            <td class="dataset-details"><a href="{{ pkg_dict.wiki_link }}">CFPB wiki article</a></td>
          </tr>
          {% endif %}
          {% if pkg_dict.website_url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Reference Website URL") }}</th>
            <td class="dataset-details"><a href="{{ pkg_dict.website_url }}">{{ pkg_dict.website_name}}</a> </td>
          </tr>
          {% endif %}
	  {% if pkg_dict.dataset_last_modified_date %}
	  <tr>
		  <th scope="row" class="dataset-label">{{ _("Dataset Last Modified Date") }}</th>
		  <td class="dataset-details">{{ pkg_dict.dataset_last_modified_date }}</td>
	  </tr>
	  {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="expandable expandable__padded expandable__expanded">
    <button class="expandable_header expandable_target" title="Expand content">
        <span class="expandable_header-left expandable_label">
            II. Access
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
          {% if pkg_dict.contact_primary_name %}
          <tr>
          <th scope="row" class="dataset-label">{{ _("Data Steward (Primary)") }} </th>
          <td class="dataset-details"><a href="mailto:{{pkg_dict.contact_primary_email}}">{{pkg_dict.contact_primary_name}}</a></td>
          </tr>
          {% endif %}
          {% if pkg_dict.contact_secondary_name %}
          <tr>
          <th scope="row" class="dataset-label">{{ _("Data Steward (Secondary)") }} </th>
          <td class="dataset-details"><a href="mailto:{{pkg_dict.contact_secondary_email}}">{{pkg_dict.contact_secondary_name}}</a></td>
          </tr>
          {% endif %}
          {% if pkg_dict.access_notes %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("How to Get Access") }}</th>
              <td class="dataset-details">{{ h.render_markdown(pkg_dict.access_notes) }}</td>
            </tr>
          {% else %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("How to Get Access") }}</th>
            <td class="dataset-details">To request access to this dataset, click on one of the resources listed above, then click "Request Access" next to the appropriate access level.</td>
          </tr>
          {% endif %}
          {% if pkg_dict.access_restrictions %}
          <tr>
          <th scope="row" class="dataset-label">{{ _("Access Restrictions") }} </th>
          <td class="dataset-details">{{ h.render_markdown(pkg_dict.access_restrictions) }} </td>
          </tr>
          {% endif %}
          {% if pkg_dict.usage_restrictions %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Usage Restrictions") }} </th>
              <td class="dataset-details">{{ h.render_markdown(pkg_dict.usage_restrictions) }} </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="expandable expandable__padded">
    <button class="expandable_header expandable_target" title="Expand content">
        <span class="expandable_header-left expandable_label">
            III. Administrative
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
        {% if pkg_dict.id %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Dataset ID") }} </th>
        <td class="dataset-details">{{ pkg_dict.id }} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.dataset_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Dataset Notes") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.dataset_notes) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.obfuscated_title %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Obfuscated Title") }}</th>
            <td class="dataset-details">{{ pkg_dict.obfuscated_title }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.transfer_details %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Transfer Details") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.transfer_details) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.transfer_initial_size %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Transfer Initial Size") }}</th>
            <td class="dataset-details">{{ pkg_dict.transfer_initial_size }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.transfer_method %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Transfer Method") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.transfer_method) }}</td>
          </tr>
        {% endif %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="expandable expandable__padded">
    <button class="expandable_header expandable_target" title="Expand content">
        <span class="expandable_header-left expandable_label">
            IV. Compliance
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
        {% if pkg_dict.sensitivity_level %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Sensitivity Level") }} </th>
        <td class="dataset-details">{{ pkg_dict.sensitivity_level }} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.legal_authority_for_collection %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Legal Authority For Collection") }} </th>
        <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.legal_authority_for_collection) %} {{i}}; {% endfor %}  </td>
        </tr>
        {% endif %}
        {% if pkg_dict.relevant_governing_documents %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Relevant Governing Documents") }} </th>
        <td class="dataset-details">{% for i in pkg_dict.relevant_governing_documents %} {{i}}; {% endfor %} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.dig_id %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("DIG ID") }} </th>
        <td class="dataset-details">{{ pkg_dict.dig_id }} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.initial_purpose_for_intake %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Initial Purpose For Intake") }} </th>
        <td class="dataset-details">{{ h.render_markdown(pkg_dict.initial_purpose_for_intake) }} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.pra_exclusion %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("PRA: exemption") }}</th>
            <td class="dataset-details">{{ pkg_dict.pra_exclusion }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.pra_omb_control_number %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("PRA: OMB control number") }} </th>
        <td class="dataset-details">{{ pkg_dict.pra_omb_control_number }} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.pra_omb_expiration_date %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("PRA: OMB expiration date") }}</th>
            <td class="dataset-details">{{ pkg_dict.pra_omb_expiration_date }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.privacy_contains_pii %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Privacy: Contains PII") }} </th>
        <td class="dataset-details">{{ pkg_dict.privacy_contains_pii}} </td>
        </tr>
        {% endif %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Privacy: Contains SSN") }} </th>
        <td class="dataset-details">{{ pkg_dict.privacy_contains_ssn|default('no')}} </td>
        </tr>
        {% if pkg_dict.privacy_has_direct_identifiers %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Privacy: Has Direct Identifiers") }}</th>
          <td class="dataset-details">{{ pkg_dict.privacy_has_direct_identifiers }}</td>
        </tr>
        {% endif %}
        {% if transfer_date %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Transfer: Date") }}</th>
            <td class="dataset-details">{{ pkg_dict.transfer_date }}</td>
          </tr>
        {% endif %}
        {% if data_governance_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Data Governance: Notes") }}</th>
            <td class="dataset-details">{{ pkg_dict.data_governance_notes }}</td>
          </tr>
        {% endif %}
        {% if legal_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Legal: Notes") }}</th>
            <td class="dataset-details">{{ pkg_dict.legal_notes }}</td>
          </tr>
        {% endif %}
        {% if pra_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{_("PRA: Notes") }}</th>
            <td class="dataset-details">{{ pkg_dict.pra_notes }}</td>
          </tr>
        {% endif %}
        {% if privacy_notes %}
         <tr>
            <th scope="row" class="dataset-label">{{_("Privacy: Notes") }}</th>
            <td class="dataset-details">{{ pkg_dict.privacy_notes }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.privacy_pia_title %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Privacy: PIA Title") }} </th>
        <td class="dataset-details"> {% for i in h.clean_select_multi(pkg_dict.privacy_pia_title) %} {{i}}; {% endfor %} </td>
        </tr>
        {% endif %}
        {% if pkg_dict.privacy_pia_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Privacy: PIA Notes") }}</th>
            <td class="dataset-details">{{ pkg_dict.privacy_pia_notes }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.privacy_sorn_number %}
        <tr>
        <th scope="row" class="dataset-label">{{ _("Privacy: SORN Number") }} </th>
        <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.privacy_sorn_number) %} {{i}}; {% endfor %}</td>
        </tr>
        {% endif %}
        {% if pkg_dict.records_retention_schedule %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Records Retention Schedule") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.records_retention_schedule) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.procurement_document_id %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Procurement Document ID") }}</th>
            <td class="dataset-details">{{ pkg_dict.procurement_document_id }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.foia_exemptions %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("FOIA Exemptions") }}</th>
            <td class="dataset-details">{% for i in h.clean_select_multi(pkg_dict.foia_exemptions) %} {{ i }}{% if not loop.last %},{% endif %} {% endfor %}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.foia_exemptions_notes %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("FOIA Exemption Notes") }}</th>
            <td class="dataset-details">{{ h.render_markdown(pkg_dict.foia_exemptions_notes) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.cleansing_rules_used and false %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Cleansing Rules Used") }}</th>
          <td class="dataset-details">{{ h.render_markdown(pkg_dict.cleansing_rules_used) }}</td>
        </tr>
        {% endif %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="expandable expandable__padded">
    <button class="expandable_header expandable_target" title="Expand content">
        <span class="expandable_header-left expandable_label">
            V. Open Data
        </span>
        <span class="expandable_header-right expandable_link">
            <span class="expandable_cue-open">
                Show
                <span class="cf-icon cf-icon-plus-round"></span>
            </span>
            <span class="expandable_cue-close">
                Hide
                <span class="cf-icon cf-icon-minus-round"></span>
            </span>
        </span>
    </button>
    <div class="expandable_content">
      <table class="table table-striped table-bordered table-condensed">
        <tbody>
        {% if pkg_dict.opendata_indicator %}
         <tr>
            <th scope="row" class="dataset-label">{{_("Open Data Indicator") }}</th>
            <td class="dataset-details">{{ pkg_dict.opendata_indicator }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.opendata_priority_indicator %}
         <tr>
            <th scope="row" class="dataset-label">{{_("Priority Indicator") }}</th>
            <td class="dataset-details">{{ pkg_dict.opendata_priority_indicator }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.opendata_public_location %}
         <tr>
            <th scope="row" class="dataset-label">{{_("Public Location") }}</th>
            <td class="dataset-details">{{ pkg_dict.opendata_public_location }}</td>
          </tr>
        {% endif %}

        </tbody>
      </table>
    </div>
  </div>

</section>
{% endblock %}
{% endblock %}
