{% ckan_extends %}
{% import 'macros/form.html' as form %}
{% import 'macros/form_custom.html' as form_custom %}

{% block package_metadata_fields %}
{{super()}}
{% resource 'cfpb_extrafields/popover.js' %}
{% resource 'cfpb_extrafields/popover.css' %}
{% resource 'cfpb_extrafields/otherspecify.js' %}

<hr>
<h3>I. Content</h3>

{{ form.markdown('also_known_as', id='field-also_known_as', 
label=_('also known as'), placeholder=_(''), value=data.also_known_as, error=errors.also_known_as) }}

<div class="core-field">
{{ form.markdown('data_source_names', id='field-data_source_names', label=_('data source(s)'), placeholder=_('e.g., vendor-one'), value=data.data_source_names, error=errors.data_source_names) }}
<script> document.getElementById("field-data_source_names").title = "{{ h.popup_data_source_names() }}";</script>
</div>

<div class='core-field'>
{{ form.input('content_temporal_range_start', id='field-content_temporal_range_start', type='date', label=_("content start date"), placeholder="eg 2012-12-21", value=data.content_temporal_range_start, error=errors.content_temporal_range_start) }}
</div>
<div class='core-field'>
{{ form.input('content_temporal_range_end', id='field-content_temporal_range_end', type='date', label=_("content end date"), placeholder="eg 2012-12-21", value=data.content_temporal_range_end, error=errors.content_temporal_range_end) }}
</div>

{{ form.select('content_periodicity', label=_('content periodicity'), id='field-content_periodicity', options=h.options_content_periodicity(), selected=data.content_periodicity, error=errors.content_periodicity, classes=['control-medium']) }}

{{ form.input('content_spatial', label=_("content: spatial coverage"), placeholder="e.g., continental USA", value=data.content_spatial, error=errors.content_spatial) }}
{#{ form_custom.select_multi_with_other('content_spatial', 
label=_('content: spatial coverage'),  
current_values=h.clean_select_multi(data.get('content_spatial', '')), 
options_defaults=h.options_content_spatial(), 
error=errors.content_spatial,
) }#}

{{ form.select('update_frequency', label=_('update frequency'), id='field-update_frequency', options=h.options_update_frequency(), selected=data.update_frequency, error=errors.update_frequency, classes=['control-medium']) }}

{{ form.input('wiki_link', label=_("wiki link"), placeholder="http://cfpb.local/...", type="url", value=data.wiki_link, error=errors.wiki_link) }}

{% call form.input_block("field-website_url",_("reference website URL"), error="") %} {# this is just for clicking #}
    <input id="field-website_url" type="url" placeholder="http://www..."  value="{{data.website_url}}" name="website_url" />
    <input id="field-website_name" type="text" placeholder="name" value="{{data.website_name}}" name="website_name" />
{% endcall %}



<hr>
<h3>II. Access</h3>
    
<div class="core-field">
  <div id="field-contact_primary">
    {% call form.input_block("field-contact_primary_name",_("primary contact"), error="", is_required=true) %} {# this is just for clicking #}
    <input id="field-contact_primary_name" type="text" placeholder='{{ _("last name, first name") }}' value="{{data.contact_primary_name}}" name="contact_primary_name" required/>
    <input id="field-contact_primary_email" type="email" placeholder="contact@domain.gov" value="{{data.contact_primary_email}}" name="contact_primary_email" />
    {% endcall %}
  </div>
</div>

{% call form.input_block("field-contact_secondary_name",_("secondary contact"), error="") %} {# this is just for clicking #}
    <input id="field-contact_secondary_name" type="text" placeholder='{{ _("last name, first name") }}' value="{{data.contact_secondary_name}}" name="contact_secondary_name" />
    <input id="field-contact_secondary_email" type="email" placeholder="contact@domain.gov" value="{{data.contact_secondary_email}}" name="contact_secondary_email" />
{% endcall %}

{{ form.markdown('access_notes', id='field-access_notes', label=_('how to get access'), placeholder=_(''), value=data.access_notes, error=errors.access_notes) }}

<div class="core-field">
{{ form.markdown('access_restrictions', id='field-access_restrictions', label=_('access restrictions'), placeholder=_(''), value=data.access_restrictions, error=errors.access_restrictions) }}
</div>

<div class="core-field">
{{ form.markdown('usage_restrictions', id='field-usage_restrictions', 
label=_('usage restrictions'), placeholder=_(''), value=data.usage_restrictions, error=errors.usage_restrictions) }}
<script> document.getElementById("field-usage_restrictions").title = "{{ h.popup_usage_restrictions() }}";</script>
</div>

<hr>
<h3>III. Administrative</h3>

{{ form.markdown('dataset_notes', id='field-dataset_notes', label=_('dataset notes'), placeholder=_(''), value=data.dataset_notes, error=errors.dataset_notes) }}

{{ form_custom.radio('obfuscated_title', 
label=_('obfuscated title'),
current_value=data.obfuscated_title)}}

{{ form.markdown('transfer_details', id='field-transfer_details', 
label=_('transfer details'), placeholder=_('enter text'), value=data.transfer_details, error=errors.transfer_details) }}

{{ form.input('transfer_initial_size', label=_("transfer initial size (mb)"), placeholder="eg 1.2", value=data.transfer_initial_size, error=errors.transfer_initial_size) }}

{{ form.select('transfer_method', label=_('transfer method'), id='field-transfer_method', options=h.options_transfer_method(), selected=data.transfer_method, error=errors.transfer_method, classes=['control-medium']) }}

<hr>
<h3>IV. Compliance</h3>

<div class='core-field'>
{{ form.select('sensitivity_level', label=_('sensitivity level'), id='field-sensitivity_level', options=h.options_sensitivity_level(), selected=data.sensitivity_level, error=errors.sensitivity_level, classes=['control-medium']) }}
</div>
<script>
  var b='<button type="button" data-module="popover" \
          data-module-html="sensitivity_level_popover.html" \
          data-module-title="{{ _('Sensitivity Level') }}" \
          <i class="icon-info-sign"></i>\
  </button>'
  document.getElementById('field-sensitivity_level').parentNode.insertAdjacentHTML("beforeend",b);
</script>

    
<div class="core-field">
{{ form_custom.select_multi_with_other('legal_authority_for_collection', 
label=_('legal authority for collection'),  
current_values=h.clean_select_multi(data.get('legal_authority_for_collection', '')), 
options_defaults=h.options_legal_authority_for_collection(), 
error=errors.legal_authority_for_collection,
) }}
</div>

<div class="core-field">
  <div class="control-group" id="field-relevant_governing_documents" >
    <label class="control-label" for="field-relevant_governing_documents">{{ _("relevant governing documents") }}</label>
    <div class="controls">
      <select name="relevant_governing_documents" data-module="autocomplete" multiple>
        {% for op in h.tag_relevant_governing_documents()  %}
          <option value="{{ op }}" {% if op in data.get('relevant_governing_documents', []) %}selected="selected"{% endif %}>{{ op }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<script> document.getElementById("field-relevant_governing_documents").title = "{{ h.popup_relevant_governing_documents() }}";</script>

<div class="core-field">
{{ form.input('dig_id', label=_("DIG ID"), placeholder="DI#####", value=data.dig_id, error=errors.dig_id) }}
</div>

<div class="core-field">
{{ form.markdown('initial_purpose_for_intake', id='field-initial_purpose_for_intake', label=_('initial purpose for intake'), placeholder=_(''), value=data.initial_purpose_for_intake, error=errors.initial_purpose_for_intake) }}
</div>

{{ form_custom.select_one_with_other('pra_exclusion', 
label=_('PRA exclusion'),  
current_value=data.get('pra_exclusion', ''), 
options_defaults=h.options_pra_exclusion(), 
error=errors.pra_exclusion,) }}

<div class="core-field">
{{ form.input('pra_omb_control_number', label=_("PRA: OMB control number"), placeholder="####-####", value=data.pra_omb_control_number, error=errors.pra_omb_control_number) }}
</div>

{{ form.input('pra_omb_expiration_date', type='date', label=_("PRA: OMB expiration date"), placeholder="eg 2012-12-21", value=data.pra_omb_expiration_date, error=errors.pra_omb_expiration_date) }}

<div class='core-field'>
{{ form_custom.radio('privacy_contains_pii',
label=_('privacy: contains PII?'),
current_value=data.privacy_contains_pii,
error=errors.privacy_contains_pii)}}
</div>

{{ form_custom.radio('privacy_has_direct_identifiers',
label=_('privacy: has direct identifiers?'),
current_value=data.privacy_has_direct_identifiers)}}

{{ form_custom.radio('privacy_has_privacy_act_statement', 
label=_('privacy: has Privacy Act statement'),
current_value=data.privacy_has_privacy_act_statement)}}

<div class="core-field">
{{ form_custom.select_multi_with_other('privacy_pia_title', 
label=_('privacy: PIA title'),  
current_values=h.clean_select_multi(data.get('privacy_pia_title', '')), 
options_defaults=h.options_privacy_pia_title(), 
error=errors.privacy_pia_title,
size="550",
) }}
</div>

{{ form_custom.select_one_with_other('privacy_pia_notes', 
label=_('privacy: PIA notes'),  
current_value=data.get('privacy_pia_notes', ''), 
options_defaults=h.options_privacy_pia_notes(), 
error=errors.privacy_pia_notes,) }}

<div class="core-field">
{{ form_custom.select_multi_with_other('privacy_sorn_number', 
label=_('privacy: SORN number'),  
current_values=h.clean_select_multi(data.get('privacy_sorn_number', '')), 
options_defaults=h.options_privacy_sorn_number(), 
error=errors.privacy_sorn_number,
size="550",
) }}
</div>

{{ form.input('dataset_last_modified_date', type='date', label=_("dataset last modified date"), placeholder="eg 2012-12-21", value=data.dataset_last_modified_date, error=errors.dataset_last_modified_date) }}

{{ form.markdown('records_retention_schedule', id='field-records_retention_schedule', label=_('records retention schedule'), placeholder=_(''), value=data.records_retention_schedule, error=errors.records_retention_schedule) }}

{{ form.input('procurement_document_id', label=_("procurement document ID"), placeholder="CFPB-12-Z-00015-0011", value=data.procurement_document_id, error=errors.procurement_document_id) }}

{{ form.markdown('cleansing_rules_used', id='field-cleansing_rules_used', label=_('cleansing rules used'), placeholder=_(''), value=data.cleansing_rules_used, error=errors.cleansing_rules_used) }}


{% endblock %}

{% block package_metadata_fields_url %}
{% endblock %}
{% block package_metadata_fields_version %}
{% endblock %}
{% block package_metadata_author %}
{% endblock %}
{% block package_metadata_fields_maintainer %}
{% endblock %}
{% block package_metadata_fields_custom %}
{% endblock %}


