{% ckan_extends %}
{% import 'macros/form.html' as form %}
{% import 'macros/form_custom.html' as form_custom %}


{% block custom_fields %}

{{ form.markdown('source_names', id='field-source_names', label=_('Source Names'), placeholder=_('e.g., vendor-one'), value=data.source_names, error=errors.source_names) }}
{#{ form.input('source_names', label=_("Source Names"), placeholder="description of dataset sources", value=data.source_names, error=errors.source_names) }#}

{{ form.markdown('access_restrictions', id='field-access_restrictions', label=_('Access Restrictions'), placeholder=_(''), value=data.access_restrictions, error=errors.access_restrictions) }}

{% call form.input_block("field-contact_primary_name",_("Contact: Primary"), error="") %} {# this is just for clicking #}
    <input id="field-contact_primary_name" type="text" placeholder="enter last name, first name"  value="{{data.contact_primary_name}}" name="contact_primary_name" />
    <input id="field-contact_primary_email" type="email" placeholder="contact@domain.gov" value="{{data.contact_primary_email}}" name="contact_primary_email" />
{% endcall %}

{{ form.markdown('initial_purpose_for_intake', id='field-initial_purpose_for_intake', label=_('Initial Purpose for Intake'), placeholder=_(''), value=data.initial_purpose_for_intake, error=errors.initial_purpose_for_intake) }}

{{ form_custom.select_with_other('legal_authority_for_collection', 
label=_('Legal Authority for Collection'),  
current_values=h.clean_select_multi(data.get('legal_authority_for_collection', '')), 
options_defaults=h.options_legal_authority_for_collection(), 
error=errors.legal_authority_for_collection,
multiple=True) }}

{{ form.input('pra_omb_control_number', label=_("PRA: OMB Control Number"), placeholder="####-####", value=data.pra_omb_control_number, error=errors.pra_omb_control_number) }}

{{ form_custom.select_with_other('privacy_pia_title', 
label=_('Privacy: PIA Title'),  
current_values=h.clean_select_multi(data.get('privacy_pia_title', '')), 
options_defaults=h.options_privacy_pia_title(), 
error=errors.privacy_pia_title,
multiple=True) }}

{{ form_custom.select_with_other('privacy_sorn_number', 
label=_('Privacy: SORN number'),  
current_values=h.clean_select_multi(data.get('privacy_sorn_number', '')), 
options_defaults=h.options_privacy_sorn_number(), 
error=errors.privacy_sorn_number,
multiple=True) }}

{{ form_custom.select_with_other('relevant_governing_documents', 
label=_('Relevant Governing Documents'),  
current_values=h.clean_select_multi(data.get('relevant_governing_documents', '')), 
options_defaults=h.options_relevant_governing_documents(), 
error=errors.relevant_governing_documents,
multiple=True) }}

{{ form.input('dig_id', label=_("DIG ID"), placeholder="DI#####", value=data.dig_id, error=errors.dig_id) }}

{{ form.markdown('usage_restrictions', id='field-usage_restrictions', 
label=_('Usage Restrictions'), placeholder=_(''), value=data.usage_restrictions, error=errors.usage_restrictions) }}

<!-- non-core fields(?) -->
<hr>
{{ form_custom.radio('obfuscated_title', 
label=_('Obfuscated Title'),
current_value=data.obfuscated_title)}}

{{ form.markdown('transfer_details', id='field-transfer_details', 
label=_('Transfer Details'), placeholder=_(''), value=data.transfer_details, error=errors.transfer_details) }}

{{ form.input('transfer_initial_size', label=_("Transfer: Initial Size (MB)"), placeholder="eg 1.2", value=data.transfer_initial_size, error=errors.transfer_initial_size) }}

{#Website, SFTP, FTP, Physical Media, Email, Connect Direct, Other#}
{{ form.select('transfer_method', label=_('Transfer: Method'), id='field-transfer_method', options=[{'value':""}, {'value': 'Website'}, {'value': 'SFTP'}, {'value': 'FTP'}, {'value': 'Physical Media'},{'value': 'Connect Direct'},{'value': 'Other'}], selected=data.transfer_method, error=errors.transfer_method, classes=['control-medium']) }}

{{ form.markdown('also_known_as', id='field-also_known_as', 
label=_('Also Known As'), placeholder=_(''), value=data.also_known_as, error=errors.also_known_as) }}

{{ form.select('content_periodicity', label=_('Content: Periodicity'), id='field-content_periodicity', options=[{'value':""},{'value':"Daily"}, {'value':"Weekly"}, {'value':"Monthly"}, {'value':"Annually"}, {'value':"N/A"}], selected=data.content_periodicity, error=errors.content_periodicity, classes=['control-medium']) }}

What does this mean for options: "HMDA has points, census has geometries. Look up existing taxonomies."?
{{ form_custom.select_with_other('content_spatial', 
label=_('Content: Spatial'),  
current_values=h.clean_select_multi(data.get('content_spatial', '')), 
options_defaults=h.options_content_spatial(), 
error=errors.content_spatial,
multiple=True) }}

Should I provide all options from http://dublincore.org/groups/collections/frequency/ ?
{{ form.select('update_frequency', label=_('Update: Frequency'), id='field-update_frequency', options=[{'value':""},{'value':"Daily"}, {'value':"Weekly"}, {'value':"Monthly"}, {'value':"Annually"}, {'value':"N/A"},], selected=data.update_frequency, error=errors.update_frequency, classes=['control-medium']) }}

{% call form.input_block("field-website_url",_("Website URL"), error="") %} {# this is just for clicking #}
    <input id="field-website_url" type="url" placeholder="http://www..."  value="{{data.website_url}}" name="website_url" />
    <input id="field-website_name" type="text" placeholder="name" value="{{data.website_name}}" name="website_name" />
{% endcall %}

{{ form.input('wiki_link', label=_("Wiki Link"), placeholder="http://cfpb.local/...", type="url", value=data.wiki_link, error=errors.wiki_link) }}

{{ form.markdown('access_notes', id='field-access_notes', label=_('Access: Notes'), placeholder=_('enter notes'), value=data.access_notes, error=errors.access_notes) }}

validate
{% call form.input_block("field-contact_secondary_name",_("Contact: Secondary"), error="") %} {# this is just for clicking #}
    <input id="field-contact_secondary_name" type="text" placeholder="last name, first name"  value="{{data.contact_secondary_name}}" name="contact_secondary_name" />
    <input id="field-contact_secondary_email" type="email" placeholder="contact@domain.gov" value="{{data.contact_secondary_email}}" name="contact_secondary_email" />
{% endcall %}

validate
{{ form_custom.select_with_other('acquisition_method', 
label=_('Acquisition Method'),  
current_values=h.clean_select_multi(data.get('acquisition_method', '')), 
options_defaults=h.options_acquisition_method(), 
error=errors.acquisition_method,
multiple=False) }}

validate 
{{ form_custom.select_with_other('pra_exclusion', 
label=_('PRA Exclusion'),  
current_values=h.clean_select_multi(data.get('pra_exclusion', '')), 
options_defaults=h.options_pra_exclusion(), 
error=errors.pra_exclusion,
multiple=False) }}

{{ form.input('dataset_last_modified_date', type='date', label=_("Dataset Last modified Date"), placeholder="eg 12/21/2012", value=data.dataset_last_modified_date, error=errors.dataset_last_modified_date) }}

{{ form.input('pra_omb_expiration_date', type='date', label=_("PRA: OMB Expiration Date"), placeholder="eg 12/21/2012", value=data.pra_omb_expiration_date, error=errors.pra_omb_expiration_date) }}

{{ form_custom.radio('privacy_has_privacy_act_statement', 
label=_('Privacy: Has Privacy Act Statement'),
current_value=data.privacy_has_privacy_act_statement)}}

{{ form_custom.select_with_other('privacy_pia_notes', 
label=_('Privacy: PIA Notes'),  
current_values=h.clean_select_multi(data.get('privacy_pia_notes', '')), 
options_defaults=h.options_privacy_pia_notes(), 
error=errors.privacy_pia_notes,
multiple=False) }}

{{ form.markdown('records_retention_schedule', id='field-records_retention_schedule', label=_('Records Retention Schedule'), placeholder=_(''), value=data.records_retention_schedule, error=errors.records_retention_schedule) }}

more specificity on the exact format is needed for validation CFPB-12-Z-00015-0011
{{ form.input('procurement_document_id', label=_("Procurement Document ID"), placeholder="CFPB-12-Z-00015-0011", value=data.procurement_document_id, error=errors.procurement_document_id) }}


<!-------------------- js adds one to select --------------------->
<!-- TO DO: add the jquery js to static -->
<!-- use CKAN for javascript: http://docs.ckan.org/en/latest/theming/javascript.html -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(function() {
    $('select').change( function() { <!--select#type_of_entries-->
        var value = $(this).val();
        if (value == "__Other") {
           var custom = prompt( "Please enter custom value:" );
           if (!custom) return false;
           <!-- clear selections -->
           $(this).find($('option')).attr('selected',false)
           <!-- add and select new option -->
           $(this).prepend('<option value="' + custom + '" selected="selected">' + custom
                             + '</option>');
        }
    });
});
</script>
{% endblock %}
