{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block custom_fields %}
{{ form.select('sensitivity_level', label=_('Sensitivity Level'), id='field-sensitivity-level', options=[{'value': 'Public'}, {'value': 'Low'}, {'value': 'Medium'}, {'value': 'High'}], error=errors.sensitivity_level, classes=['control-medium']) }}
  <div class="control-group ">
    <label class="control-label">Has PII?</label>
    <div class="controls ">
        <input id="has_pii" type="radio" name="has_pii" value='yes' placeholder="Yes">Yes</input>
        <input id="has_pii" type="radio" name="has_pii" value='no' placeholder="No" checked>No</input>
    </div>
  </div>
  <div class="control-group ">
    <label class="control-label">Types of Entries</label>
    <div class="controls ">
	<select id="type_of_entries" name="type_of_entries" multiple>
	  <option value="Consumers">Consumers</option>
          <option value="Financial Institutions">Financial Institutions</option>
          <option value="Employees">Employees</option>
          <option value="Government">Government</option>
          <option value="Other">Other (please specify)</option>
	</select>
    </div>
  </div>
{{ form.input('pra_control_num', label=_("PRA Control Number"), placeholder="XXXX-XXXX", value="", error=errors.pra_control_num) }}
{% endblock %}
