{% ckan_extends %}

{% block package_basic_fields_license %}
{% endblock %}
{% block basic_fields_format %}
{% endblock %}

{% block basic_fields_url %}
{% import 'macros/form_custom.html' as form_custom %}
{% resource 'cfpb_extrafields/resource_type_select.js' %}

{{ form.select('resource_type', label=_('resource type'), id='field-resource_type', options=h.options_resource_type(), selected=data.resource_type, error=errors.resource_type, classes=['control-medium']) }}

<div class='core-field'>
  {{ super()}}
</div>

{% endblock %}


{% block basic_fields_name %}
<div class='core-field'>
{{ form.input('name', id='field-name', label=_('name'), placeholder=_('eg. January 2011 Mortgage Prices'), value=data.name, error=errors.name, classes=['control-full'], is_required=true) }}
</div>
{% endblock %}

{% block basic_fields_description %}
{% if data.resource_type %} {# resource_type selected? #}
<div class='core-field'>
{{ form.markdown('description', id='field-description', label=_('description'), placeholder=_('Some useful notes about the data'), value=data.description, error=errors.description) }}
</div>
{% endif %} {# resource_type selected? #}
{% endblock %}


{% block metadata_fields %}
{% resource 'cfpb_extrafields/otherspecify.js' %}
{% resource 'cfpb_extrafields/popover.js' %}
{% resource 'cfpb_extrafields/popover.css' %}
{% import 'macros/form_custom.html' as form_custom %}

{#{data}#}
{% if data.resource_type %} {# resource_type selected? #}
{% if data.resource_type == 'Dashboard' -%}
<h3>Dashboard</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_dashboard.html',data=data,errors=errors,pkg_name=pkg_name %}
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% elif data.resource_type == 'Database'  %}
<h3>Database</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_database.html',data=data,errors=errors,pkg_name=pkg_name %}
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% elif data.resource_type == 'Data Dictionary' -%}
<h3>Data Dictionary</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_datadictionary.html',data=data,errors=errors,pkg_name=pkg_name,editable="true" %}

{% elif data.resource_type == 'Data File' -%}
<h3>Data File</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_datafile.html',data=data,errors=errors,pkg_name=pkg_name %}
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% elif data.resource_type == 'Documentation' -%}
<h3>Documentation</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_documentation.html',data=data,errors=errors,pkg_name=pkg_name %}

{% elif data.resource_type == 'Report' -%}
<h3>Report</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_report.html',data=data,errors=errors,pkg_name=pkg_name %}
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% else %}
<h3>Default</h3>
{% snippet 'package/snippets/resource_type-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% endif %}{# specific resource_type #}
{% endif %}{# resource_type selected? #}
{% endblock %}


{% block save_button %}
{% if data.resource_type == 'Data Dictionary' -%}
  <button class="btn btn-primary" name="save" value="go-metadata" type="submit"
    id="resource_save" 
    data-module="datadict_post"
    data-module-dataset_id="{{ data.package_id }}"
    data-module-resource_id="{{ data.id }}"
    data-module-resource_name="{{ data.name }}">
{% else %}
  <button id="resource_save" class="btn btn-primary" name="save" value="go-metadata" type="submit">
{% endif %}
  {% block save_button_text %}{{ _('Finish') }}{% endblock %}</button>
{% endblock %}
{% block add_button %}
  <button id="resource_save" class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
{% endblock %}
    
