{% ckan_extends %}

{% block package_basic_fields_license %}
{% endblock %}
{% block basic_fields_format %}
{% endblock %}

{% block basic_fields_url %}
{% import 'macros/form_custom.html' as form_custom %}
{% resource 'cfpb_extrafields/format_select.js' %}


<div class='core-field'>
  {{ form_custom.select_one_with_other('format',
  id='field-format',
  label=_('format'),  
  current_value=data.get('format', ''), 
  options_defaults=h.options_format(), 
  error=errors.format,) }}
</div>

{{ form.select('resource_type', label=_('resource type'), id='field-resource_type', options=h.options_resource_type(), selected=data.resource_type, error=errors.resource_type, classes=['control-medium']) }}

<div class='core-field'>
  {{ super()}}
</div>
{% endblock %}


{% block basic_fields_name %}
<div class='core-field'>
  {{ super()}}
</div>
{% endblock %}


{% block basic_fields_description %}
{% if data.format %} {# format selected? #}
<div class='core-field'>
  {{ super()}}
</div>
{% endif %} {# format selected? #}
{% endblock %}


{% block metadata_fields %}
{% resource 'cfpb_extrafields/otherspecify.js' %}
{% resource 'cfpb_extrafields/popover.js' %}
{% resource 'cfpb_extrafields/popover.css' %}
{% import 'macros/form_custom.html' as form_custom %}

{#{data}#}
{% if data.format %} {# format selected? #}
{% if data.format == 'Data Dictionary' -%}
<h3>Data Dictionary</h3>
{% snippet 'package/snippets/format-specific/cfpb_extrafields_datadictionary.html',data=data,errors=errors,pkg_name=pkg_name,editable="true" %}

{% elif data.format == 'SQL'  %}
{% snippet 'package/snippets/format-specific/cfpb_extrafields_sql.html',data=data,errors=errors,pkg_name=pkg_name %}
{% snippet 'package/snippets/format-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% else %}
{% snippet 'package/snippets/format-specific/cfpb_extrafields_defaults.html',data=data,errors=errors,pkg_name=pkg_name %}

{% endif %}
{% endif %}{# format selected? #}
{% endblock %}


{% block save_button %}
{% if data.format == 'Data Dictionary' -%}
  <button class="btn btn-primary" name="save" value="go-metadata" type="submit"
    id="resource_save" 
    data-module="datadict_post"
    data-module-dataset_id="{{ data.package_id }}"
    data-module-resource_id="{{ data.id }}"
    data-module-resource_name="{{ data.name }}">
{% else %}
  <button id="resource_save" class="btn btn-primary" name="save" value="go-metadata" type="submit">
{% endif %}
  {% block save_button_text %}{{ _('Finish') }}{% endblock %}</button>
{% endblock %}
