{% ckan_extends %}

{% block package_basic_fields_license %}
{% endblock %}
    {% block basic_fields_format %}
    {% endblock %}

{% block metadata_fields %}
{% import 'macros/form_custom.html' as form_custom %}

{{ form.input('content_temporal_range_end', type='date', label=_("Temporal Range End Date"), placeholder="eg 2012-12-21", value=data.content_temporal_range_end, error=errors.content_temporal_range_end) }}
{{ form.input('content_temporal_range_start', type='date', label=_("Temporal Range Start Date"), placeholder="eg 2012-12-21", value=data.content_temporal_range_start, error=errors.content_temporal_range_start) }}

{{ form_custom.select_one_with_other('format', 
label=_('Format'),  
current_value=data.get('format', ''), 
options_defaults=h.options_format(), 
error=errors.format,) }}

<!-- custom version of select one with extra field -->
<div class="control-group{{ "errors.storage_location" if errors.storage_location }}{{ " " ~ classes | join(' ') }}">
  <label class="control-label" for="storage_location">Storage Location</label>
    <div class="controls{{ " " ~ control_classes | join(' ') }}">
	<select id="storage_location" name="storage_location">
    {# move previously selected elements to the top and select #}
    {# provide nothing as an option #}
    <option value=""></option>
	{% for e in [data.get('storage_location', '')] %}
        {% if e %}
        <option value="{{e}}" selected="selected">{{e}}</option>
	    {% endif %}
    {% endfor %}
    {# provide the default options but don't duplicate if they were selected above #}
	{% for e in h.options_storage_location() %}
        {% if e != data.get('storage_location', '') %}
            <option value="{{e}}">{{e}}</option>
	    {% endif %}
    {% endfor %}
    {# provide an option for javascript to use to create new fields #}
    <option value="__Other">Other, please specify</option>
	</select>  
    path: <input id="field-storage_location_path" placeholder="eg http://..., D:\path\" value="{{data.storage_location_path}}" name="storage_location_path"/>
    {% if errors.storage_location and errors.storage_location is iterable %}<span class="error-block">{{ errors.storage_location|join(', ') }}</span>{% endif %}
    </div>
</div>

{{ form.select('sensitivity_level', label=_('Sensitivity Level'), id='field-sensitivity-level', options=h.options_sensitivity_level(), selected=data.sensitivity_level, error=errors.sensitivity_level, classes=['control-medium']) }}


{{ form_custom.radio('privacy_contains_pii',
label=_('Privacy: Contains PII?'),
current_value=data.privacy_contains_pii,
error=errors.privacy_contains_pii)}}

<!-- non-core fields--><hr>

{{ form.input('intake_date', type='date', label=_("Intake Date"), placeholder="eg 2012-12-21", value=data.intake_date, error=errors.intake_date) }}

{{ form.select('update_size', label=_('Update: Size'), id='field-update_size', options=h.options_update_size(), selected=data.update_size, error=errors.update_size, classes=['control-medium']) }}
{{ form.select('approximate_total_size', label=_('Approximate Total Size'), id='field-approximate_total_size', options=h.options_approximate_total_size(), selected=data.approximate_total_size, error=errors.approximate_total_size, classes=['control-medium']) }}

{{ form.select('resource_type', label=_('Resource Type'), id='field-resource_type', options=h.options_resource_type(), selected=data.resource_type, error=errors.resource_type, classes=['control-medium']) }}

{{ form_custom.radio('privacy_has_direct_identifiers',
label=_('Privacy: Has Direct Identifiers?'),
current_value=data.privacy_has_direct_identifiers)}}


{{ form.markdown('cleansing_rules_used', id='field-cleansing_rules_used', label=_('Cleansing Rules Used'), placeholder=_(''), value=data.cleansing_rules_used, error=errors.cleansing_rules_used) }}

<!-------------------- js adds one to select --------------------->
<!-- TO DO: add the jquery js to static -->
<!-- use CKAN for javascript: http://docs.ckan.org/en/latest/theming/javascript.html -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(function() {
    $('select').change( function() { <!--select#type_of_entries-->
        var value = $(this).val();
        if (value == "__Other") {
           var custom = prompt( "Please enter custom value:" );
           if (!custom) return false;
           <!-- clear selections -->
           $(this).find($('option')).attr('selected',false) 
           <!-- add and select new option -->
           $(this).prepend('<option value="' + custom + '" selected="selected">' + custom
                             + '</option>');
        }
    });
});
</script>

{% endblock %}

