<!-- 
when you select datadictionary for the resource, change url field to http://_datastore_only_resource and submit?
generally, create button that populates the url field? 
-->

{#% resource 'cfpb_extrafields/bootstrap.glyph.css' %#}
{% resource 'cfpb_extrafields/datadict_setup.css' %}
{% resource 'cfpb_extrafields/datadict_setup.js' %}
{% resource 'cfpb_extrafields/datadict_post.js' %}

<br>==============================<br>
{#
  get_datastore******<br> {{ h.get_datastore(data.id) }}<br>
  create_datadict******<br> {{ h.create_datadict(data.id,'')}}<br>
  get_datadict******<br> {{ h.get_datadict(data.id) }}<br>
  get_datadict_html******<br> {{ h.get_datadict_html(data.id) }}<br>
#}


 {% set dd = h.get_datadict_html(data.id) %}
 {% if dd %}
    debug: Data dictionary read! {{dd}}
 {% else %}
    debug: Data dictionary new! {{dd}}
    {% set dd = [ ["Name","Description","Datatype","Size"],
    ["name","description","datatype","size"],
    {"name":"1","description":"2","datatype":"3","size":"4"},
    {"name":"1","description":"2","datatype":"3","size":"4"}
    ]%}
    {% set header_names = dd[0] %}
    {% set header_keys = dd[1] %}
    {% set nkeys = range(dd[1]|length) %}
    {% set nrows = dd|length-2 %}
 {% endif %}


 <div id="table" class="table-editable">    
    <span class="table-add"><button type='button' class="btn btn-primary">+</button></span>
    <table class="table">
      <tr>
        {% for item in header_names %}
          <th contenteditable="true">{{ item }}</th>
        {% endfor %}
        <th></th>
        <th></th>
      </tr>
    {% for irow in range(2,nrows+2) %}
      <tr>
        {% for i in nkeys %}
          {% set key = header_keys[i]%}
            <td contenteditable="true">{{ dd[irow][key] }}</td>
          {% endfor %}
        <td>
          <span class="table-remove"> <button type='button' class="btn btn-danger">X</button></span>
        </td>
        <td>
          <span class="table-up"><button type='button' class="btn btn-primary">^</button></span>
          <span class="table-down"><button type='button' class="btn btn-primary">v</button></span>
        </td>
      </tr>
    {%endfor%}
     <!-- This is our clonable table line -->
      <tr class="hide">
        {% for item in header_names %}
          <th contenteditable="true"></th>
        {% endfor %}
        <td>
          <span class="table-remove"> <button type='button' class="btn btn-danger">X</button></span>
        </td>
        <td>
          <span class="table-up"><button type='button' class="btn btn-primary">^</button></span>
          <span class="table-down"><button type='button' class="btn btn-primary">v</button></span>
        </td>
      </tr>
    </table>
  </div>
  
  <button id="export-btn" type='button' class="btn btn-primary">Export Data</button>
  <p id="export"></p>




  get_datastore******<br> {{ h.get_datastore(data.id) }}<br>
  create_generic******<br> {{ h.create_generic_json(data.id)}}<br>
  get_datastore******<br> {{ h.get_datastore(data.id) }}<br>
  get_datadict******<br> {{ h.get_datadict(data.id) }}<br>
  delete datadict******<br> {{ h.delete_datadict(data.id) }}<br>
  get_datastore******<br> {{ h.get_datastore(data.id) }}<br>
  delete ALL******<br> {{ h.delete_datastore(data.id) }}<br>
  <br>

{#
{{ data.package_id }}<br>
{{ data.id }}<br>
{{ data.name }}<br>
#}


