<div class="context-info">
  <div class="fullwords">
    <dl>
      
    <dt>{{ _('Public') }}</dt>
    <dd>
      {{ _('Data available to the general public by legal means with no restrictions regarding access or use (e.g., publicly released macroeconomic data such as employment statistics, GDP).') }}
    </dd>
    
    <dt>{{ _('Low') }}</dt>
    <dd>
      {{ _('Data not generally freely available to the public, which would not likely cause significant harm if misused (e.g., purchased periodicals or industry reports that do not contain PII or trade secrets).') }}
    </dd>
    
    <dt>{{ _('Medium') }}</dt>
    <dd>
      {{ _('Data that is generally information that is confidential, but that does not contain highly sensitive data such as Direct Identifiers concerning individuals or sensitive proprietary information concerning business entities (e.g., commercially-available loan-level data that does not contain direct identifiers, Procured data with significant contractual or MOU-based restrictions).') }}
    </dd>
    
    <dt>{{ _('High') }}</dt>
    <dd>
      {{ _('Data which carries with it a significant legal, reputational or financial risk to the Bureau, individuals and/or business entities, should it be improperly accessed, used, or disclosed (e.g., raw Enforcement information, raw consumer complaint information).') }}
    </dd>
    
    </dl>
  </div>
</div>
